//Colors
$color--primary--light:#333333;
$color--primary--dark:#1a1a1a;
$color--secondary--light:#123254;
$color--secondary--dark:#173f69;
$color--tertiary--light:#27422b;
$color--tertiary--dark:#1d3120;
$color--background:#e6e6e6;

//font-sizes
$small--text:1.4rem;
$medium--text:1.6rem;
$large--text:2.4rem;
$minute--text:1rem;
$extralarge--text:3rem;


//spacing
//logo font
