@import '../Abstracts/variables';

Body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: .625%;
    font-family: 'Roboto',Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
}