@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Ubuntu:wght@400;500;700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Ubuntu:wght@400;500;700&display=swap');
